.filters {
  padding-bottom: 7.25rem;

  @media(max-width: 767px) {
    padding-bottom: 3rem;
  }

  & :global(.-granite) {
    display: inline-block;
    padding: 2rem;

    @media(min-width: 768px) {
      padding: 0.69rem 3.5rem;
    }
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: var(--f-heading);

    @media(min-width: 768px) {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 3rem;
    }

    &:hover,
    &:focus {
      color: var(--c-gold);
    }

    &:not(:last-child) {
      &::after {
        content: "|";
        color: var(--c-black);
        padding-left: 1rem;
      }
    }
  }
}