.footer {
	background-color: var(--c-white);
	position: relative;
	transition: 100ms ease opacity;
	z-index: 15;

	&:global(.hide) {
		opacity: 0;
	}

	& :global(.container) {
		align-items: center;
		font-family: var(--f-heading);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 5.4rem 2.19rem 0;

		& a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.foot-nav-container {
	width: 51vw;
	margin-right: 3rem;
	padding: 6.25rem 6.25rem 7rem;
	background-image: url('/images/background-menu.svg');
	font-size: 0.87rem;
	flex: 1;
}

.foot-nav {
	align-self: start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style: none;
	margin: 2rem 0 0 0;
	padding: 0;

	@media (min-width: 480px) {
		flex-direction: row;
		justify-content: space-between;
	}

	& > ul {
		margin: 0;
		padding: 0;
	}

	& a {
		color: rgba(0, 0, 0, 0.7);
	}
}

.foot-img {
	display: block;
}

.foot-subnav {
	margin-top: 1.25rem;
	padding: 0;
	list-style: none;

	& li {
		font-size: 0.875rem;
		margin-bottom: 0.875rem;
		opacity: 0.7;
	}
}

.foot-group {
	width: 100%;	
	padding: 2.37rem 0.8rem 0 6.25rem;
	display: flex;
	justify-content: space-between;
}

.subscribe {
	width: 33.88vw;

	& .mailchimp {
		padding-top: 1rem;
		position: relative;
	}

	& label {
		font-size: 0.875rem;
		font-weight: 300;
		margin-bottom: 1.5rem;
	}

	& input {
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		font-family: var(--f-heading);
		font-size: var(--fs-1);
		padding-bottom: 1rem;
		width: 100%;

		&:focus {
			border-bottom-color: var(--c-gold);
			outline: none;
		}
	}

	& button {
		align-items: center;
		background-color: var(--c-gold);
		border: none;
		border-radius: 50%;
		cursor: pointer;
		display: inline-flex;
		height: 42px;
		justify-content: center;
		position: absolute;
		right: 0;
		width: 42px;
	}
}

.copy-social {
	width: 33.88vw;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	font-size: 0.75rem;

	& p {
		margin: 0;
	}

	& a {
		text-decoration: underline;
	}
}
