.hero {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-weight: 100;
	justify-content: center;
	min-height: 60vh;

	&.narrow {
		min-height: 40vh;
	}

	&:global(.blog) {
		position: relative;
		top: -70px;

		& h1 {
			color: var(--c-white);
		}
	}

	& :global(.featured-image) {
		inset: 0;
		margin-bottom: 4rem;
		max-height: 80vh;
		overflow: hidden;
		position: absolute;
		z-index: -1;

		&::after {
			content: "";
			background-color: var(--c-black);
			opacity: 0.4;
			position: absolute;
			inset: 0;
		}

		& img {
			object-fit: cover;
		}
	}

	& p {
		margin: 0;
	}

	& h1 {
		font-weight: 100;
		margin-bottom: 1rem;
		margin-top: 0;
	}
}