.blog-grid {
	display: grid;
	gap: 4rem;
	
	@media (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.blog-grid-item {
	&:first-child {
		@media (min-width: 768px) {
			grid-column-start: 2;
		}
	}

	&:nth-child(2n + 2) {
		@media (min-width: 768px) {
			margin-top: -100%;
		}
	}

	& h2,
	& h3,
	& h4 {
		font-weight: 100;
		margin-top: 1rem;
	}

	& img {
		object-fit: cover;
	}
}