.blog-grid {
	display: grid;
	gap: 1rem;
	padding-bottom: 5rem;

	@media (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 1025px) {
		grid-template-columns: repeat(3, 1fr);
		padding: 0 3.125rem 7.3rem;
		gap: 2rem;
	}
}

.blog-grid-item {
	& h2,
	& h3,
	& h4 {
		font-weight: 100;
		margin-top: 1rem;
	}

	& h4 {
		width: 75%;
		font-size: 1.125rem;
		text-align: end;
		margin-left: auto;
	}

	& img {
		object-fit: cover;
	}
}