.container {
  max-width: var(--max-w);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;

  @media (min-width: 1488px) {
    padding-left: 0;
    padding-right: 0;
  }
}
