.container {
  max-width: var(--max-w);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;

  @media (min-width: 1488px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.-sm {
  max-width: 1027px;
}

.-pt-m {
  padding-top: 2rem;
}

.-pb-l {
  padding-bottom: 3rem;
}

.-p-m {
  padding: 2rem;
}

.-py-2xl {
  padding: 6rem 0;
}

.-granite {
  background-image: url('/images/granite.jpeg');
}

.overflow-hidden {
  overflow: hidden;
}
