.header {
	position: sticky;
	top: 0;
	transition: background-color 300ms linear, opacity 100ms linear;
	width: 100%;
	z-index: 20;

	&:global(.hide) {
		opacity: 0;
	}

	&.-is-open {
		background-color: var(--c-white);
		--c-fade: var(--c-black)!important; /* Overrides inline style on the home page and ensure the menu color is always dark when the menu is open. */
	}

	&::before {
		background-color: var(--c-gold);
		background-image: url('/images/gold-foil.jpeg');
		content: "";
		height: 12px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 10;
	}

	& h1 {
		margin: 0;
		padding: 0;
	}
	
	& :global .h1 {
		font-size: 4.44vw;
		margin: 0;
		padding: 0;
	}
	
	& > :global(.container) {
		align-items: center;
		border-top: 12px solid var(--c-gold);
		display: flex;
		justify-content: space-between;
		padding-left: 2.3rem;
		padding-right: 2.875rem;
		padding-top: 1.75rem;
		position: relative;
		z-index: 5;

		@media (max-width: 767px) {
			padding: 1.5rem 1.5rem 0;
		}

	}

	& .logo {
		display: flex;

		& svg {
			color: var(--c-fade, #000);
			width: 100%;
		}
	}
}

.menu-activator {
	align-items: center;
	background-color: transparent;
	border: none;
	color: var(--c-fade, #000);
	cursor: pointer;
	display: flex;
	font-family: var(--f-heading);
	letter-spacing: 0.13rem;
	line-height: 1;
	font-size: 1.125rem;
	position: relative;


	& svg {
		margin-left: 0.8rem;

		& line {
			transform-origin: left;
			transition: 300ms ease transform, 300ms ease opacity;
		}

		&.-active {
			& line:first-child {
				transform: rotate(45deg) translateX(-2.5px);
			}

			& line:nth-child(2) {
				opacity: 0;
			}

			& line:last-child {
				transform: rotate(-45deg) translateX(-2px);
			}
		}
	}
}

.menu-container {
	font-family: var(--f-heading);
	height: calc(100vh - 100%);
	inset: 0;
	position: absolute;
	top: 100%;
	z-index: 5;
	margin-top: 8.5vh;

	@media (max-width: 767px) {
		margin-top: 2rem;
	}


	& :global(.container) {
		display: flex;
		flex-direction: column;
		padding-right: 13.68vw;
		padding-left: 0;
	}

	& .primary-nav {
		max-width: 80%;
		list-style: none;
		margin: 0;
		background-image: url('/images/background-texture.svg');
		padding: 1.5rem;

		@media (min-width: 768px) {
			width: 56.7vw;
			padding: 8vh 0 6.65vh 10.97vw;
		}

		& li {
			line-height: 1.5;
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 1rem;

				@media (min-width: 768px) {
					margin-bottom: 0;
				}
			}
		}

		& a {
			display: block;
			transition: color 300ms ease;
			width: 100%;
			font-weight: 300;
			line-height: max(1em, 14vh);

			@media (max-width: 767px) {
				z-index: 10;
				position: relative;
			}

			&:hover {
				color: var(--c-gold);
			}
		}

		& a:not(:global .h1) {
			font-size: var(--fs-1);
		}
	}

	& li {
		margin: 0;
		padding: 0;
	}

	& .h1 {
		margin: 0;
	}
}

.menu-footer {
	width: 56.7vw;
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 4rem 2.5rem 4rem 1.5rem;
	
	@media (min-width: 768px) {
		padding: 4vh 10vw 0 10.97vw;
		max-width: 80%;
	}

	& a {
		font-size: 1.5rem;
		font-weight: 300;
	}

	& > *:not(:last-child) {
		margin-right: 2rem;
		padding-bottom: 0;
		
		@media (min-width: 768px) {
			margin-right: 4.6875rem;
		}
	}

	& svg {
		max-width: 16px;
	}
}

.image-float {
	aspect-ratio: 12 / 16;
	inset: 0;
	top: 2.5rem;
	left: 53.75vw;
	max-height: 621px;
	pointer-events: none;
	position: absolute; 
	z-index: 1;

	& > div {
		max-height: 600px;
		width: 100%;
	}

	& img {
		object-fit: cover;
	}
}

.nav-bg {
	background-color: var(--c-white);
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
}
